GROQ_API_KEY_1=your_groq_api_key_1
GROQ_MODEL_1=llama-3.3-70b-versatile

GROQ_API_KEY_2=your_groq_api_key_2
GROQ_MODEL_2=llama-3.1-8b-instant

GROQ_API_KEY_3=your_groq_api_key_3
GROQ_MODEL_3=llama-3.1-8b-instant
